body {
    padding: 0px;
    margin: 0px;
}

header nav a {
    text-decoration: solid;
    color: aliceblue;
}

div h3 a {
    text-decoration: solid;
    color: rgb(84, 144, 6);
}


main {
    padding: 16px;
    display: block;
}

img {
    height: 200px;
    background-color: beige;
}

nav {
    border-bottom: black 1px;
    padding: 16px;
    background-color: orangered;
}

#main-title {
    grid-row-start: 1;
    color: rgb(9, 79, 9);
}

#sub-title {
    grid-row-start: 2;
}

#recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    grid-auto-flow: row;
}

#recipe1 {
    grid-column-start: 1;
}

#recipe2 {
    grid-column-start: 2;
}

#recipe3 {
    grid-column-start: 3;
}

#recipe4 {
    grid-column-start: 4;
}

#recipe5 {
    grid-column-start: 1;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(104, 174, 12);
}

tr:nth-child(even) {
    background-color: lightgray;
}